body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1, 0, auto;
  background-color: gray;
  color: yellow;
  font-weight:bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
}
.weapons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;}
.rock,
.paper,
.scissors {
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 15px;
  flex: 0 1 20%;
}
button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
}
.scoreContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  flex: auto;
}
img {
  width: 150px;
  height: 300px;
  margin: 35px
}

.yellowborders{
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 20px yellow;
}
.Status{
    font-size: 40px;
    color:aqua;
}
