body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weapons{
    
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 100%;
    margin: 40px;
    flex: 1;

    
}
.rock,
.paper,
.scissors{
    display: flex;
    margin: 4px;
}
.scoreContainer{
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 60px;

}